# Django settings
DJANGO_SECRET_KEY=<secret_key>
DJANGO_SETTINGS_MODULE=restaurantprojectdjango.settings.dev

# Production database
DATABASE_URL=postgresql://<user>:<password>@<host>:5432/<database>?sslmode=require

# Render
RENDER_EXTERNAL_HOSTNAME=<domain>