<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © {% now "Y" %}, <span class="font-weight-bold">KitchenHub</span>. Restaurant Management System.
        </div>
      </div>

      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="{% url 'kitchen:dish-list' %}" class="nav-link text-muted">Dishes</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'kitchen:dish-type-list' %}" class="nav-link text-muted">Dish Types</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'kitchen:cook-list' %}" class="nav-link pe-0 text-muted">Cooks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>