{% load static %}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-dark" href="{% url 'kitchen:index' %}">Pages</a>
        </li>

        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
          {% if request.resolver_match.url_name == 'index' %}
            Dashboard
          {% elif 'dish-type' in request.resolver_match.url_name %}
            Dish Types
          {% elif 'dish' in request.resolver_match.url_name %}
            Dishes
          {% elif 'cook' in request.resolver_match.url_name %}
            Cooks
          {% else %}
            KitchenHub
          {% endif %}
        </li>
      </ol>

      <h6 class="font-weight-bolder mb-0">
        {% if request.resolver_match.url_name == 'index' %}
          Dashboard
        {% elif 'dish-type' in request.resolver_match.url_name %}
          Dish Types
        {% elif 'dish' in request.resolver_match.url_name %}
          Dishes
        {% elif 'cook' in request.resolver_match.url_name %}
          Cooks
        {% else %}
          KitchenHub
        {% endif %}
      </h6>
    </nav>

    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        {% if request.resolver_match.url_name == 'dish-type-list' or request.resolver_match.url_name == 'dish-list' or request.resolver_match.url_name == 'cook-list' %}
          <form method="get">
            <div class="input-group">
              <span class="input-group-text text-body">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <circle cx="11" cy="11" r="7" stroke="currentColor" stroke-width="2"></circle>
                  <path d="M16 16L21 21" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                </svg>
              </span>

              <input type="text" name="query" value="{{ request.GET.query }}" class="form-control" placeholder="Type here...">
            </div>
          </form>
        {% endif %}
      </div>

      <ul class="navbar-nav justify-content-end">
        {% if user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'kitchen:cook-detail' pk=user.pk %}" class="nav-link text-body font-weight-bold px-0">
              <img src="{% static 'icons/profile.svg' %}" width="18" height="18" class="me-sm-1" alt="">
              <span class="d-sm-inline d-none">{{ user.username }}</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>