{% extends "base.html" %}

{% block title %}
  Cooks
{% endblock %}

{% block content %}
  <h1>Cook List</h1>

  {% include "includes/search_form.html" %}

  <p>
    <a href="{% url 'kitchen:cook-create' %}">
      Create cook
    </a>
  </p>

  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li>
          <a href="{% url 'kitchen:cook-detail' pk=cook.pk %}">
            {{ cook.username }}
          </a>

          — {{ cook.years_of_experience }}
          year{{ cook.years_of_experience|pluralize }}
          of experience
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cooks found.</p>
  {% endif %}

  {% include "includes/pagination.html" %}
{% endblock %}