{% extends "base.html" %}

{% block title %}
  {% if object %}
    Update cook
  {% else %}
    Create cook
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Update cook
    {% else %}
      Create cook
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
      Save
    </button>
  </form>

  <p>
    {% if object %}
      <a href="{% url 'kitchen:cook-detail' pk=object.pk %}">
        Cancel
      </a>
    {% else %}
      <a href="{% url 'kitchen:cook-list' %}">
        Cancel
      </a>
    {% endif %}
  </p>
{% endblock %}