{% extends "base.html" %}

{% block title %}
  Dishes
{% endblock %}

{% block content %}
  <h1>Dish List</h1>

  <form method="get">
    {{ search_form }}

    <button type="submit">
      Search
    </button>
  </form>

  {% if request.GET.query %}
    <p>
      Search results for:
      <strong>{{ request.GET.query }}</strong>
    </p>

    <a href="{% url 'kitchen:dish-list' %}">
      Clear search
    </a>
  {% endif %}

  <p>
    <a href="{% url 'kitchen:dish-create' %}">
      Create dish
    </a>
  </p>

  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.pk %}">
            {{ dish.name }}
          </a>

          — {{ dish.dish_type.name }}
          — ${{ dish.price }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      No dishes found.
    </p>
  {% endif %}

  {% include "includes/pagination.html" %}
{% endblock %}