{% extends "base.html" %}

{% block title %}
  Dish types
{% endblock %}

{% block content %}
  <h1>Dish Type List</h1>

  <form method="get">
    {{ search_form }}

    <button type="submit">
      Search
    </button>
  </form>

  {% if request.GET.query %}
    <p>
      Search results for:
      <strong>{{ request.GET.query }}</strong>
    </p>

    <a href="{% url 'kitchen:dish-type-list' %}">
      Clear search
    </a>
  {% endif %}

  <p>
    <a href="{% url 'kitchen:dish-type-create' %}">
      Create dish type
    </a>
  </p>

  {% if dishtype_list %}
    <ul>
      {% for dish_type in dishtype_list %}
        <li>
          {{ dish_type.name }}

          <a href="{% url 'kitchen:dish-type-update' pk=dish_type.pk %}">
            Update
          </a>

          <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.pk %}">
            Delete
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      No dish types found.
    </p>
  {% endif %}

  {% include "includes/pagination.html" %}
{% endblock %}