{% extends "base.html" %}

{% block title %}
  {% if object %}
    Update dish type
  {% else %}
    Create dish type
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Update dish type
    {% else %}
      Create dish type
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
      Save
    </button>
  </form>

  <p>
    <a href="{% url 'kitchen:dish-type-list' %}">
      Cancel
    </a>
  </p>
{% endblock %}