{% extends "base.html" %}

{% block title %}
  {% if object %}
    Update dish
  {% else %}
    Create dish
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Update dish
    {% else %}
      Create dish
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
      Save
    </button>
  </form>

  <p>
    {% if object %}
      <a href="{% url 'kitchen:dish-detail' pk=object.pk %}">
        Cancel
      </a>
    {% else %}
      <a href="{% url 'kitchen:dish-list' %}">
        Cancel
      </a>
    {% endif %}
  </p>
{% endblock %}