<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      Restaurant
    {% endblock %}
  </title>
</head>
<body>
  <header>
    <nav>
      {% if user.is_authenticated %}
        <span>
          Logged in as: {{ user.username }}
        </span>

        <a href="{% url 'kitchen:dish-list' %}">
          Dishes
        </a>

        <a href="{% url 'kitchen:dish-type-list' %}">
          Dish types
        </a>

        <a href="{% url 'kitchen:cook-list' %}">
          Cooks
        </a>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}

          <button type="submit">
            Logout
          </button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">
          Login
        </a>
      {% endif %}
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>